* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
     
}

body {
    margin: 0px;
    background-color: #000033;
}

nav {
    margin: 20px;
    background-color: #61a5c2;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color:#fff;
}



.to-imgnav {
    width: 80%; height: 80%;
}

.to-btn {
    background-image: linear-gradient(to bottom, #0087dd, #0a0a50); 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    text-decoration: none; 
}

.to-search {
    border-radius: 10px;    
}

.to-ul {
    padding: 0;
}

ul {
    color: white;
    list-style-type: none;
    padding: 0;
}

h1 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color:#fff;
}

h2 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color:#abe5f5;
    margin-top: 20px;
}

.section-flex{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    
}

/* ///////////////////CARDS/////////////////// */
h3 {
    font-weight: 300;
    color:#fff;
}

.card-to {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    background-color: #010e41;
    margin: 1rem;
    border-radius: 1rem;
     /* height: 24rem; */
     padding: 1rem;
}

.card-to__image {
    width: 100%;
}

.card-to__title {
    font-weight: 500;
    padding: 0.1rem;
    margin: 0;
    font-size: 1.5rem;
    color: #0d84fa;
}

.card-to__subtitle {
    font-weight: 300;
    padding: 0.1rem;
    margin: 0;
    font-size: 1rem;
    color:#abe5f5;
    line-height: 1.8rem;
}

.card-to__price {
    font-weight: 300;
    padding: 0.1rem;
    margin: 0;
    font-size: 3rem;
    color:#abe5f5;
}

.card-to__description {
    font-weight: 300;
    padding: 0.1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color:#abe5f5;
    line-height: 1.8rem;
    text-align: center;
}

/* ///////////////////EDITORIAL/////////////////// */
.editorial-to {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    background-color: #010e41;
    padding: 20px;
}

.editorial-to__image img {
    max-width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* Se ajustará automáticamente la altura proporcionalmente */
}
.editorial-to__image
 {
    flex: 1; /* El texto ocupará el espacio disponible */   
}

.editorial-to__tittle {
    font-weight: 500;
    padding: 0.1rem;
    margin: 0;
    font-size: 1.5rem;
    color: #0d84fa;
}

.editorial-to__subtittle {
    font-size: 50rem;
    font-weight: 600;
    padding: 0.1rem;
    margin: 0;
    font-size: 1rem;
    color:#abe5f5;
    line-height: 2rem;
}

.editorial-to__description {
    font-weight: 300;
    padding: 0.1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color:#abe5f5;
    line-height: 1.8rem;
    text-align: center;
}

.editorial-to__text {
    flex: 1; /* para que el texto ocupe el espacio disponible */
    max-width: 100%;
    margin: 20px; 
}

.editorial-to__description {
    font-weight: 300;
    padding: 0.1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color:#abe5f5;
    line-height: 1.8rem;
    text-align: left;
}



.editorial-to__image {
    max-width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* Mantenemos la relación de aspecto de la imagen */
  }


/* ///////////////////FOOTER/////////////////// */

footer ul li {
    margin: 10px; 
}

.footer-flex {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-flex ul {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center; 
}

.footer-flex a {
    color: #1c7fa6;
    text-decoration: none;
}

li p {
    margin: 0;
    padding: 0;
}


/* ///////////////////CLASES BOOSTRAP/////////////////// */

/* Clase de Boostrap para NAVBAR le saco el padding left y righ estaba en 0.5 y lo llevo a 0 */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: calc(var(--bs-gutter-x) * 0); 
    padding-left: calc(var(--bs-gutter-x) * 0); 
}

/* Clase de Boostrap para NAVBAR pongo Opacity en 0 cambio el color del background  */
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

/* Clase de Boostrap pongo color en blanco  */
.nav-link {
    color: rgb(255 255 255 / 100%);
}

/* START Componente ACORDION de BOOSTRAP Cambio de color de encabezado */
.lu-ac {
    font-weight: 600;
    background-color: #2c3761; 
    color: #fff;
}

.lu-ac:not(.collapsed) {
    background-color: #2c3761;
    color: #fff;
}

.accordion {
    --bs-accordion-border-color:  #000033;
    --bs-accordion-active-color: #000033;
}

.accordion-item {
    margin: 0px;
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
}

/* END Componente ACORDION de BOOSTRAP Cambio de color de encabezado */

/* START Clases de Boostrap para NAVBAR modifico valores para cambiar el color y la apariencia del icono de menu hamburguesa */
.navbar {
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-toggler-padding-x: 0;
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0);
    --bs-navbar-toggler-focus-width: 0;
}

/*Este es el valor que modifica el color del icono en svg stroke='%23fff'*/
.color-botón-navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* END Clases de Boostrap modifico valores para cambier el color y la apariencia del icono de menu hamburguesa */

/* Clase de Boostrap para NAVBAR cambio color de hover en a  */
.navbar-nav .nav-link:hover {
    color: #345f90; 
}


/* Clase de Boostrap para NAVBAR cambio aspecto de boton de search  */
.btn-outline-success.custom-degradado {
    background-image: linear-gradient(to bottom, #000033, #032c5a); 
    border: none; 
    color: #ffffff; 
}


/* START Clase de Boostrap para NAVBAR cambio aspectos del dropdown desplegable  */
.dropdown-menu {
     /* color de fondo del popup */
    --bs-dropdown-bg: #003;
    /* color de a */
    --bs-dropdown-link-color: #fff;
    /* color texto hover */
    --bs-dropdown-link-hover-color: #345f90;
    --bs-dropdown-link-active-color:  #fff; 
}

a.nav-link.dropdown-toggle.show {
    color: #345f90;
}

.dropdown-item:focus, .dropdown-item:hover {
    color:  #fff;
    background-color: #345f90;
}
/* END Clase de Boostrap para NAVBAR cambio aspectos del dropdown desplegable  */



/* ///////////////////MEDIA QUERIES/////////////////// */

  
/* Queries para desktop */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .editorial-to {
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
    }
  }

/* Querie para tablet */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .editorial-to {
        display: flex;
        flex-direction: column;
          
        }

    .card-to {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-flow: wrap;
        width: 40%;
        background-color: #010e41;
        margin: 1rem;
        border-radius: 1rem;
        padding: 1rem;
        }

    .card-to__image {
        width: 100%;
        }
      }

/* Querie para mobile */
@media only screen and (max-width: 576px) {
    .editorial-to {
        display: flex;
        flex-direction: column;
        width: 90%;
        }

    .card-to {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        background-color: #010e41;
        margin: 1rem;
        border-radius: 1rem;
        padding: 1rem;
        }

    h2 {
        font-size: 16px;
        }
      }
    
   



